body{
	background-color: hsl(0, 0%, 98%);
	padding-top: 70px;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 10;
	border: 1px solid #718693;
	padding: 5px;
}
.viewMore a:hover {
	color: #ffffff;
	background-image: linear-gradient(to right, #6f42c1, #6e1af6,#7220f6,#622dc3);
}


.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.mNavbar {
	background-image: linear-gradient(to right, #6f42c1, #6e1af6,#7220f6, #6610f2, #622dc3, #6610f2, #6610f2)!important;
	color: #fff!important;
	padding: 15px;
}

/* form section */

.form-layout {
	border-radius: 15px;
	width: 500px;
}
.cent {
	text-align: center!important;
}

.footer {
	background-image: linear-gradient(to right, #6f42c1, #6e1af6,#7220f6, #6610f2, #622dc3, #6610f2, #6610f2)!important;
	color: #fff;
	padding: 10px;
	padding-top: 20px;
	margin-top: 50px;
	padding-bottom: 100px;
	text-align: right;
}

/* home style  */
.adn {
	color: red!important;
	font-size: 70px!important;
}